@import "../../themes/generated/variables.base.scss";
@import "../../scss/variables.scss";

.reset-password-form {
  .submit-button {
    margin-top: 10px;
  }

  .login-link {
    color: $base-accent;
    font-size: $font-size-normal;
    text-align: center;
  }
}
