/* stylelint-disable */

.form-avatar {
  float: left;
  width: 120px;
  height: 120px;
  margin-right: 20px;
  overflow: hidden;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.1);

  img {
    display: block;
    height: 120px;
    margin: 0 auto;
  }
}
